@column-number:24;
@column-width: (100%/@column-number);
@gutter: 12px;

@import "common.less";
@import "xxsm-grid.less";
@import "xsm-grid.less";
@import "sm-grid.less";
@import "md-grid.less";
@import "lg-grid.less";
@import "xlg-grid.less";
@import "xxlg-grid.less";